<h3>
    <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
            aria-hidden="true" class="octicon octicon-link"></span></a>AngularJS</h3>

    <div class="page-headader">
        <h1>{{rows.user}}'s To Do List: <span class="label label-default">{{rows.length}}</span></h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Check status</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in rows" ng-class="{strike: item.done}">
            <td>{{item.action}}</td>
            <td>
                <input type="checkbox"
                       ng-model="item.done"/>
            </td>
            <td>
                <span class="animate-if">
                {{item.done}}
                </span>
            </td>
        </tr>
        </tbody>
    </table>

    <p>Ссылки</p>
    <a href="https://www.firebase.com/docs/web/libraries/angular/quickstart.html">Firebase</a>