<h3>
    <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true">
        <span aria-hidden="true" class="octicon octicon-link"></span></a>JavaScript</h3>

<p>
<ol>
    <li>JavaScript. Подробное руководство, 6-е издание - Фленаган</li>
    <li>TypeScript - <a href="https://habrahabr.ru/post/258957/">статья</a> по нему</li>
    <li><a href="http://gulpjs.com/">Gulp</a></li>
    <li><a href="https://lodash.com/">Lodash</a></li>
    <li><a href="http://underscorejs.org/">Undersocre.js</a></li>
</ol>
</p>