<h3>
    <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
            aria-hidden="true" class="octicon octicon-link"></span></a>Study Front-end</h3>

<p>
    It's a good way to sort priorities of what should front-end developer study, on my opinion. So here you will find
    my way vision and my tries to find a ninja way of coding on JavaScript lang.
</p>


<!--<section ng-controller="ToDoCtrl">-->
<!--<div class="container">-->
<!--<div class="col-md-12">-->
<!--<div class="page-headader">-->
<!--<h1>{{todo.user}}'s To Do List: <span class="label label-default">{{todo.items.length}}</span></h1>-->
<!--</div>-->

<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Description</th>-->
<!--<th>Check status</th>-->
<!--<th>Done</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="item in todo.items" ng-class="{strike: item.done}">-->
<!--<td>{{item.action}}</td>-->
<!--<td>-->
<!--<input type="checkbox"-->
<!--ng-model="item.done"/>-->
<!--</td>-->
<!--<td>-->
<!--<span class="animate-if">-->
<!--{{item.done}}-->
<!--</span>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->