<h3>
    <a id="creating-pages-manually" class="anchor" href="#creating-pages-manually" aria-hidden="true"><span
            aria-hidden="true" class="octicon octicon-link"></span></a>Регулярные выражения</h3>

<p>
<ol>
    <li>Прочитать - <a
            href="http://bizbook.ua/kompyuternaya_literatura/programmirovanie/programmirovanie_na_php_perl/34007">Регулярные
        выражение - основы</a></li>
    <li>Прочитать - <a
            href="http://bizbook.ua/kompyuternaya_literatura/programmirovanie/programmirovanie_na_php_perl/27984">Регулярные
        выражения 3-е издание</a></li>
</ol>
</p>